* {
    box-sizing: border-box
}
body {
   font-size: 14px
}
:root {
  --maincolor: hsl(30, 38%, 92%);
  --greencolor: hsl(158, 36%, 37%);
  --darkbluecolor: hsl(212, 21%, 14%);
  --lightblue:  hsl(228, 12%, 48%);
  --whitecolor: hsl(0, 0%, 100%);
  --seconderyfont: 'Fraunces', serif;
--mainfont: 'Montserrat', sans-serif
}

.product {
  background-color: var(--maincolor);
  display: flex; 
  position: relative;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 50px 0 #888888;
  margin:calc(100vh / 4) auto
}

.product .image {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 15px 15px 0 0
}

.product .prod-desc {
  background-color: var(--whitecolor);
  width: 100%;
  height:58%;
  border-radius:0 0 15px 15px ;
  padding: 20px 40PX;
  font-family: var(--mainfont);
  color: var(--lightblue)
}
.prod-desc h3 {
  letter-spacing: 5px;
  text-transform: uppercase
}
.prod-desc h1 {
  font-family: var(--seconderyfont);
  font-size: 50px;
  color: var(--darkbluecolor);
  line-height: 50px
}
p{
  font-size: 25px;
  font-weight: 700;
  line-height: 35px
}
.prod-desc span {
  color: var(--greencolor);
  font-weight: 700;
  font-family: var(--seconderyfont);
  font-size: 50px;
  padding-left:5px
}
.prod-desc del {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 25px
}
.prod-desc button {
  background-color: var(--greencolor);
  width: 475px;
  height: 75px;
  border-radius: 15px;
  color: var(--whitecolor);
  font-weight: 700;
  border: none;
  font-size: 25px;
  margin: 20px 5px;
  cursor: pointer
}


@media (min-width: 375px) {
  .product {
    width: 600px;
    height: 1098px;
    flex-direction: column
    
  }
}
@media (min-width: 1440px) {
  .product {
    width: 1440px;
    height: 1098px;
    flex-direction: row; 
    justify-content: center;
    align-items: center
  }
  .product .image {
    border-radius: 15px  0 0 15px
  }
  img {
    height: 650px;
    WIDTH: 450px;
    object-fit: cover;
  border-radius: 15px  0 0 15px
  }
  .product .prod-desc {
    height: 650px;
    width: 450px;
    border-radius:   0 15px  15px 0 
  }
  .prod-desc span {
    font-size: 45px;
  }
  .prod-desc button {
     width: 350px;
     height: 70px;
     margin: 15px 5px
  }

}